$default-font-family:'Robot',sans-serif;
$default-color:#1f2933;
$default-color-second:#616e7c;
$default-color-third:#fff;
$default-font-size:14px;
$default-header-size:48px;
$default-text-size:16px;
$default-font-weight:400;
$default-font-weight2:600;
$default-background:rgb(231, 226, 226);
$default-icon-color:#226d7c;
$default-backgorund-color:#10243e;
